<div class="row align-items-center g-5 py-5">


  <div class="col-lg-4 text-center text-lg-start px-5">
    <h1 class="display-4 fw-bold lh-1 mb-3">PATHAGAR </h1>
    <div class="row">
      <p class="col-lg-10 fs-4">
        Read books, listen to audio books, watch videos, and do quizzes.
      </p>
    </div>
  </div>

  <div class="col-10 mx-auto col-lg-6">
      <div class="form-floating mb-3">
        <input type="email"
               [(ngModel)]="registration.email"
               name="email" #email="ngModel" required
               class="form-control"
               id="floatingInput"
               placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>


      <div class="form-floating mb-3">
        <input type="password"
               [(ngModel)]="registration.password"
               name="password" #password="ngModel" required
               class="form-control"
               id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>


      <div class="form-floating mb-3">
        <input type="password"
               name="confirmPassword"
               #confirmPassword="ngModel"
               [(ngModel)]="registration.confirmPassword"
               id="floatingConfirmPassword"
               placeholder="Confirm password"
               class="form-control" required />
        <label for="floatingConfirmPassword">Confirm Password</label>
      </div>

      <button type="submit"
              [disabled]="submitted"
              (click)="onSubmit(registration)"
              class="w-100 btn btn-lg btn-primary">Registration</button>
    <hr class="my-4">
  </div>
</div>
