<div class="row align-items-center g-5 py-2">

  <div class="col-lg-6 text-center text-lg-start px-5">
    <authpage-description></authpage-description>
  </div>

  <div class="mx-auto col-lg-6">
    <div class="p-lg-5 border rounded-3 bg-light p-3">
      <div class="form-floating mb-3">
        <input type="email"
               [(ngModel)]="login.email"
               name="email"
               class="form-control"
               autofocus
               placeholder="name@example.com">
        <label>Email</label>
      </div>


      <div class="form-floating mb-3">
        <input type="password"
               [(ngModel)]="login.password"
               name="password"
               class="form-control"
               placeholder="Password">
        <label>Password</label>
      </div>


      <button type="submit"
              [disabled]="submitted"
              (click)="onSubmit(login)"
              class="w-100 btn btn-lg btn-primary" >Log in</button>
      <hr class="my-4">

      <app-error [error]="error"></app-error>

      <auth-navigation [page]="authPageType.LOGIN"></auth-navigation>

  </div>
  </div>
</div>
