<div class="book-details container mt-5">

  <div class="d-flex flex-row justify-content-start gap-5">

    <div>
      <img src="{{fileUrl + book.coverImage.path}}" class="rounded" alt="{{book.name}}">
    </div>

    <div>
      <h3>{{book.name}}</h3>
      <p *ngFor="let author of book.authors">{{author.name}}</p>
      <p class="badge bg-primary" *ngFor="let category of book.categories">{{category.name}}</p>
      <div>
        <button class="btn btn-sm btn-primary" (click)="onRead(book)">Read</button>
      </div>

    </div>
</div>

  <hr />
  <p>{{book.description}}</p>
</div>
