<div class="card">
  <div class="card-header">
    <div class="card-title">Regenerate Hash</div>
  </div>
  <div class="card-body">
      <ul>
        <li>Delete all file entries from database and visit src directory to regenerate metadata and store information
          in database again
        </li>
        <li>No image or video will de deleted or modified</li>
        <li>All the hash will be regenerated</li>
        <li>All the favourite will be removed</li>
        <li>Only do this operation if you messed up with current database</li>
      </ul>
    <button class="btn btn-sm btn-primary" (click)="onRegenerateHash()">Regenerate Hash</button>
  </div>
</div>



