<div class="row">

  <div class="col-12">

    <div class="row">
      <div class="col-4" *ngIf="isLoaded">
        <div class="m-2">
          <button class="btn btn-sm btn-primary me-1" (click)="zoomIn()" [disabled]="zoom === 3">Zoom In</button>
          <button class="btn btn-sm btn-primary mx-1" (click)="zoomOut()" [disabled]="zoom === 1">Zoom Out</button>
        </div>
      </div>

      <div class="col-5" *ngIf="isLoaded">
        <div class="float-start m-2">
          <button class="btn btn-sm btn-primary mx-1" (click)="prevPage()" [disabled]="page === 1">Prev</button>
          <button class="btn btn-sm btn-primary mx-1" (click)="nextPage()" [disabled]="page === totalPages">Next
          </button>
          <span class="mt-2"> {{ page }} / {{ totalPages }}</span>
        </div>

      </div>

      <div class="col-3">
        <div class="m-2">
          <button class="btn btn-sm btn-warning float-end" (click)="onClose()">Close</button>
        </div>
      </div>

    </div>
  </div>


  <div class="col-sm-12">
    <pdf-viewer [src]="fileUrl + book.filePath"
                [show-all]="false"
                [original-size]="false"
                [fit-to-page]="false"
                [stick-to-page]="false"
                [autoresize]="true"
                [page]="page"
                [zoom]="zoom"
                (after-load-complete)="afterLoadComplete($event)"></pdf-viewer>

  </div>
</div>

