<div class="row align-items-center g-5 py-2">


  <div class="col-lg-6 text-center text-lg-start px-5">
    <authpage-description></authpage-description>
  </div>

  <div class="mx-auto col-lg-6">
    <div class="p-lg-5 border rounded-3 bg-light p-3">
      <div class="form-floating mb-3">
        <input type="email"
               [(ngModel)]="registration.email"
               name="email" #email="ngModel" required
               class="form-control"
               id="floatingInput"
               placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>


      <div class="form-floating mb-3">
        <input type="password"
               [(ngModel)]="registration.password"
               name="password" #password="ngModel" required
               class="form-control"
               id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>


      <div class="form-floating mb-3">
        <input type="password"
               name="confirmPassword"
               #confirmPassword="ngModel"
               [(ngModel)]="registration.confirmPassword"
               id="floatingConfirmPassword"
               placeholder="Confirm password"
               class="form-control" required />
        <label for="floatingConfirmPassword">Confirm Password</label>
      </div>

      <button type="submit"
              [disabled]="submitted"
              (click)="onSubmit(registration)"
              class="w-100 btn btn-lg btn-primary">Registration</button>
    <hr class="my-4">

      <app-error [error]="error"></app-error>
      <auth-navigation [page]="authPageType.REGISTRATION"></auth-navigation>

  </div>
  </div>
</div>
