/* You can add global styles to this file, and also import other style files*/
@import './spinner';
@import './utils';
@import './responsive';
@import "@ng-select/ng-select/themes/default.theme.css";
@import "@fortawesome/fontawesome-free/css/all.css";

.container, .container-fluid {
  padding: 0;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.form-group.required .col-form-label:after {
  content:"*";
  color:red;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


.dropdown-menu.ngb-dp-body {
  margin-top: -55px;
}

@media print {
  .isPrinting > * { display: none; }
  .isPrinting app-print-layout { display: block; }
}


.sidebar  .submenu a {
  text-decoration: none;
}

.only-print {
  display: none;
}

.dropdown .dropdown-menu {
  margin-top: -55px
}
