/* You can add global styles to this file, and also import other style files*/
@import 'spinner';
@import 'utils';
@import 'responsive';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

.container, .container-fluid {
  padding: 0;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media print {

  .no-print {
    display: none !important;
  }

  .only-print {
    display: block !important;
  }

  div.modal-content {
    border: none !important;
  }

  .breadcrumb {
    display: none !important;
  }

  table {
    page-break-inside:auto;
  }

  tr {
    page-break-inside:avoid;
    page-break-after:auto;
  }

  thead {
    display:table-header-group;
  }

  tfoot {
    display:table-footer-group;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
  .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666666666666%;
  }

  .col-sm-10 {
    width: 83.33333333333334%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666666666666%;
  }

  .col-sm-7 {
    width: 58.333333333333336%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666666666667%;
  }

  .col-sm-4 {
    width: 33.33333333333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.666666666666664%;
  }

  .col-sm-1 {
    width: 8.333333333333332%;
  }
}



.form-group.required .col-form-label:after {
  content:"*";
  color:red;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


.dropdown-menu.ngb-dp-body {
  margin-top: -55px;
}

@media print {
  .isPrinting > * { display: none; }
  .isPrinting app-print-layout { display: block; }
}


.sidebar  .submenu a {
  text-decoration: none;
}

.only-print {
  display: none;
}

.dropdown .dropdown-menu {
  margin-top: -55px
}




.owl-prev,
.owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-20%);
}

.owl-prev {
  left: 0rem;
}

.owl-next {
  right: 0rem;
}

.owl-nav i {
  font-size: 40px;
}
