 <div class="card">
      <div class="card-header">Books</div>

      <div class="card-body ">
        <div class="row my-2">
          <div class="col-sm-12">
            <button (click)="onOpenBookUploadModal()" class="btn  btn-outline-primary me-2">Add new book</button>
          </div>
        </div>

        <div class="row">
        <div class="col-12">


          <div class="input-group mb-3">
            <input class="form-control"
                   type="text" name="searchTerm"
                    [(ngModel)]="searchTerm"
                   (keyup.enter)="onSearch(searchTerm)"
                   placeholder="Search by book name"/>
            <div class="input-group-append">
              <button (click)="onClearSearch()" class="btn btn-outline-secondary" type="button">X</button>
            </div>
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 my-2 d-flex align-items-stretch" *ngFor="let book of books; let i=index">
            <div class="card border-0">
              <div class="card-body d-flex justify-content-center">
                <div>
                  <picture class="">
                    <img [src]="fileUrl + book.coverImage.path" class="rounded img-fluid" alt="{{book.name}}" (click)="onRead(book)">
                  </picture>

                  <div class="mt-2 fs-5">{{book.name}}</div>
                  <div class="" *ngIf="book.authors.length > 0">{{book.authors[0].name}}</div>
                  <div class="small">Page: {{book.totalPage}}</div>
                  <div class="small">Size: {{book.pdfFile.size | filesize}}</div>

                </div>
              </div>

              <div class="card-footer border-0">
                <button (click)="onEdit(book, i)" class="btn btn-sm btn-outline-primary m-1 float-start">Edit</button>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12" *ngIf="page">
            <ngb-pagination [(page)]="page.number"
                            [pageSize]="page.numberOfElements"
                            [collectionSize]="page.totalElements"
                            [maxSize]="10"
                            [rotate]="true"
                            (pageChange)="onPageChange($event)"></ngb-pagination>
          </div>
        </div>

      </div>
    </div>

