<div class="card">
  <div class="card-header">Author</div>


  <div class="card-body ">

    <div class="row">
      <div class="col-sm-12">
        <div class="mb-3">
          <input style="display: none" class="form-control" type="file" accept="image/*" id="formFileMultiple" multiple
                 (change)="onSelectImage($event)">
          <button class="btn btn-primary" (click)="onClickFileInputButton('formFileMultiple')">
            <i class="fa fa-upload"></i>
            Upload author
          </button>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4 my-2" *ngFor="let author of authors; let i=index">
        <div class="card shadow-sm">
          <img [src]="author.preview">
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">Author Name</label>
              <input type="text" class="form-control" [(ngModel)]="author.name">
            </div>

            <!--<div class="mb-3">
              <label class="form-label">Author description</label>
              <textarea class="form-control" [(ngModel)]="author.description"></textarea>
            </div>-->
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button class="float-end btn btn-outline-default"
                (click)="onCancel()">Close
        </button>
        <button [disabled]="submitted"
                id="account-submit-btn"
                (click)="onSubmit(authors)"
                class="float-end btn btn-outline-success">Save
        </button>
      </div>
    </div>
  </div>
</div>


