    <div class="card">
      <div class="card-header">Books you are reading</div>

      <div class="card-body ">

        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 my-2" *ngFor="let userBook of userBooks; let i=index">
            <div class="card shadow h-100" style="border: none">

              <img [src]="fileUrl + userBook.book.coverImage.path"
                   style="width: 100%; height: auto;"
                   class="rounded" alt="{{userBook.book.name}}" (click)="onRead(userBook.book)">

              <div class="card-body">

                <h5 class="card-title">{{userBook.book.name}}</h5>

                <div class="card-text">
                  <div><span class="badge bg-success">{{userBook.status}}</span></div>
                  <div *ngIf="userBook.status=='READING'">Read: {{userBook.page}} pages</div>
                </div>

                <div>
                  <button *ngIf="userBook.status =='FINISHED'" (click)="onWriteReview(userBook.book, i)" class="btn btn-sm btn-primary m-1 float-start">Write a review</button>
                  <button (click)="onDelete(userBook.book, i)" class="btn btn-sm btn-warning m-1 float-start">Delete</button>
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12" *ngIf="page">
            <ngb-pagination [(page)]="page.number" [pageSize]="page.numberOfElements" [collectionSize]="page.totalElements"
                            (pageChange)="onPageChange($event)"
                            aria-label="Default pagination"></ngb-pagination>
          </div>
        </div>

      </div>

