<div class="row">

  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="m-2 float-end">
          <button class="btn btn-sm btn-warning float-end" (click)="onClose()">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-12">
    <ngx-extended-pdf-viewer
      [src]="fileUrl + book.filePath"
      [useBrowserLocale]="true"
      [textLayer]="true"
      (pageChange)="onPageChange($event)"
      [showHandToolButton]="true">
    </ngx-extended-pdf-viewer>
  </div>
</div>

