<div class="category-details container mt-3">

  <div class="d-flex flex-row justify-content-start gap-5">

    <div>
      <img src="{{fileUrl + category.imageFile.path}}"
           style="width: 100%; height: auto"
           alt="{{category.name}}">
    </div>

    <div>
      <h1>{{category.name}}</h1>
      <p>{{category.description}}</p>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 my-2 d-flex align-items-stretch"
         *ngFor="let book of category.books; let i=index">
      <app-book-card [book]="book"></app-book-card>
    </div>
  </div>
</div>
