    <div class="card">
      <div class="card-header">Books</div>

      <div class="card-body ">
        <div class="row my-2">
          <div class="col-sm-12">
            <button (click)="onOpenBookUploadModal()" class="btn  btn-outline-primary me-2">Add new book</button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-2 my-2" *ngFor="let book of books; let i=index">
            <div class="card">
              <div class="card-body">
                <picture>
                  <img [src]="fileUrl + book.coverImage" class="rounded img-fluid" alt="{{book.name}}" (click)="onRead(book)">
                </picture>
                <!--<p>{{book.name}}</p>-->
              </div>

              <div class="card-footer">
                <button (click)="onRead(book)" class="btn btn-sm btn-outline-primary m-1">Read</button>
                <button (click)="onDelete(book, i)" class="btn btn-sm btn-outline-warning m-1">Delete</button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
<!--<h2 mat-dialog-title>Upload New Book</h2>

<div mat-dialog-content>
    <div style="margin-bottom: 15px">
        <mat-label>Book</mat-label>
        <br/>
        <input style="display: none" multiple type="file" id="fileInputSrc" name="fileInput" accept="application/pdf"
               (change)="selectBook($event)"/>
        <button mat-raised-button color="primary" class="file-select-button"
                (click)="onClickFileInputButton('fileInputSrc')">
            <mat-icon>attach_file</mat-icon>
            Upload Book
        </button>
    </div>

    <mat-card *ngFor="let book of books; let i=index">

        <mat-card-header>Item {{i + 1}}</mat-card-header>
        <mat-card-content>
            <pdf-viewer
                    [src]="book.preview"
                    [zoom]="0.5"
                    [autoresize]="true"
                    style="width: 50vh; height: 50vh;"
                    [show-all]="false">
            </pdf-viewer>

            <mat-form-field appearance="fill">
                <mat-label>Book name</mat-label>
                <input matInput [(ngModel)]="book.name">
            </mat-form-field>

            &lt;!&ndash;<mat-form-field appearance="fill">
                <mat-label>Author</mat-label>
                <mat-select [(ngModel)]="book.author">
                    <mat-option *ngFor="let author of authors" [value]="author">{{author.name}}</mat-option>
                </mat-select>
            </mat-form-field>&ndash;&gt;

            <button mat-raised-button color="warn" type="button" (click)="onRemove(i)" >Remove</button>

        </mat-card-content>
    </mat-card>

</div>
<div mat-dialog-actions>
    <button mat-raised-button type="button" (click)="onSubmit(books)" color="primary">Save</button>
    <button mat-raised-button class="close" type="button" (click)="onCancel()" color="warn">Cancel</button>
</div>-->

