<div class="card">
  <div class="card-header">Categories</div>

  <div class="card-body">
    <div class="row">
      <div class="col-2 col-xs-6 col-sm-4 col-md-3 col-lg-2 my-2" *ngFor="let category of categories; let i=index">
        <app-category-card [category]="category"></app-category-card>
      </div>
    </div>


    <div class="row">
      <div class="col-12" *ngIf="page">
        <ngb-pagination [(page)]="page.number"
                        [pageSize]="page.numberOfElements"
                        [collectionSize]="page.totalElements"
                        (pageChange)="onPageChange($event)"
                        aria-label="Default pagination"></ngb-pagination>
      </div>
    </div>

  </div>
</div>
