<div class="row">
  <div class="col-sm-12">
<div class="card">
  <div class="card-header">Author</div>
  <div class="card-body">

    <div class="row">
      <div class="col-sm-12">

        <div class="mb-3" *ngIf="!author.preview">
          <label>Image</label>
          <div>
            <img [src]="fileUrl + author.thumbFile.path" alt="{{author.name}}">
          </div>
        </div>

        <div class="col-sm-4 my-2" *ngIf="author.preview">
          <div class="card shadow-sm">
            <img [src]="author.preview" alt="{{author.name}}">
          </div>
        </div>


        <div class="row">
          <div class="col-sm-12">
            <div class="mb-3">
              <input style="display: none" class="form-control" type="file" accept="image/*" id="formFileMultiple"
                     (change)="onSelectImage($event)">
              <button class="btn btn-primary" (click)="onClickFileInputButton('formFileMultiple')">
                <i class="fa fa-upload"></i>
                Upload author
              </button>
            </div>
          </div>
        </div>


        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" [(ngModel)]="author.name">
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea rows="7" class="form-control" [(ngModel)]="author.description"></textarea>
        </div>

        <app-error [error]="error"></app-error>

      </div>
    </div>
  </div>



    <div class="card-footer">
      <button class="float-start btn-sm btn btn-danger m-2" (click)="onDelete(author)">Delete</button>
      <div class="float-end">
        <button class="float-end btn-sm btn btn-warning m-2" (click)="onCancel()">Close</button>
        <button [disabled]="submitted" (click)="onSubmit(author)" class="btn btn-sm btn m-2 btn-success">Save</button>
      </div>
    </div>
</div>
</div>

</div>
