<div class="card">
  <div class="card-header">Author management</div>

  <div class="card-body ">
    <div class="row">
      <div class="col-sm-12">
        <button (click)="onOpenAuthorModal()" class="btn  btn-outline-primary me-2">Add new author</button>
      </div>
    </div>



    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 my-2" *ngFor="let author of authors; let i=index">
        <div class="card">
          <div class="card-body">
            <picture>
              <img [src]="fileUrl + author.thumbnail" class="rounded img-fluid" alt="{{author.name}}">
            </picture>
            <p>{{author.name}}</p>
          </div>

          <div class="card-footer">
            <button (click)="onDelete(author, i)" class="btn btn-sm btn-outline-warning m-1">Delete</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
