<div class="container mt-5">
  <div class="d-flex flex-row justify-content-start gap-5">

    <div>
      <img [src]="fileUrl + author.imageFile.path"
           alt="{{author.name}}">
    </div>

    <div>
      <h1>{{author.name}}</h1>
      <p>{{author.description}}</p>
    </div>

  </div>

  <hr />
  <div class="row">
    <div class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2 mb-5"
         *ngFor="let book of author.books; let i=index">
      <app-book-card [book]="book"></app-book-card>
    </div>
  </div>
</div>
