<div class="card">
  <div class="card-header">Books</div>

  <div class="card-body ">

    <div class="row">
      <div class="col-12">

        <div class="input-group mb-3">
          <input class="form-control"
                 type="text" name="searchTerm"
                 [(ngModel)]="searchTerm"
                 (keyup.enter)="onSearch(searchTerm)"
                 placeholder="Search by book name"/>
          <button (click)="onClearSearch()" class="btn btn-outline-secondary" type="button">X</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 col-xs-6 col-sm-4 col-md-3 col-xl-3 col-xxl-2 my-3" *ngFor="let book of books; let i=index">
        <app-book-card [book]="book"></app-book-card>
    </div>

    <div class="row">
      <div class="col" *ngIf="page">
        <div style="overflow: auto">
        <ngb-pagination [(page)]="page.number"
                        [pageSize]="page.numberOfElements"
                        [collectionSize]="page.totalElements"
                        [maxSize]="10"
                        [rotate]="true"
                        (pageChange)="onPageChange($event)"></ngb-pagination>
        </div>
      </div>
    </div>

  </div>
</div>

</div>
